fastapi
uvicorn
opencv-python
ultralytics
paddleocr
paddlepaddle
numpy
pandas
matplotlib
python-multipart
jinja2
aiofiles
sqlalchemy
passlib[bcrypt]
bcrypt==4.0.1
python-jose
pillow
openpyxl
reportlab
